@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Courgette&family=Marck+Script&family=Tiro+Devanagari+Marathi:ital@1&display=swap');

* {
    box-sizing: border-box;
}

/* ----------------------BASE STYLES----------------------------- */

body {
    font-family: 'Tiro Devanagari Marathi', serif;
    scroll-behavior: smooth;
}

/* ----------------------NAVBAR----------------------------- */

.logo {
    font-family: 'Cinzel',
        serif;
}

.navbar {
    font-family: 'Courgette', cursive;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px,
        rgb(0 0 0 / 9%) 0px 4px 2px,
        rgb(0 0 0 / 9%) 0px 8px 4px,
        rgb(0 0 0 / 9%) 0px 16px 8px,
        rgb(0 0 0 / 9%) 0px 32px 16px;
    z-index: 1;
    color: black;
}

/* ----------------------HOME PAGE COVER----------------------------- */

.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;

}

.masthead .page-heading,
.masthead .post-heading,
.masthead .site-heading {
    padding: 320px 0 150px;
    color: black;
    text-align: center;
    background-color: #212529;
    opacity: 0.5;

}

.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100px;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}