{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="text-light bg " id="login">
    <div class="container height mt-5 p-5">
        <div class="row login-bg">
            <h1 class="text-center">{% trans " Sign In" %}</h1>
            <div class="col-md-8 mt-3 offset-md-2 text-center ">

                <p>{% blocktrans %}Please login to make your reservation and manage your bookings. If you
                    have
                    not created an account yet, then please
                    <a href="{{ signup_url }} " class="pluse-effect">Sign Up</a> first.{% endblocktrans %}
                </p>

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="account-btn" type=" submit">{% trans "Login" %}</button>
                </form>
            </div>
        </div>

    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}