{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row col-md-6 text-light booking-form">
    {% if user.is_authenticated %}
    <div class="center-container">
        <h1>Book your table now <i class="fas fa-pencil-alt"></i></h1>
        <!-- Booking form -->
        <form id="bookingForm" method="post" action="{% url 'submit_booking' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row justify-content-center" id="bookingDetails">
                <p>Choose the date and time for your booking and we will show you the available places</p>
                <!-- Date input -->
                <div class="col form-field col-4 col-md-4 col-lg-3">
                    <label for="datePicker"><i class="far fa-calendar-alt"></i> Choose Date:</label><br>
                    {{form.date}}
                    <div class="error-container">
                        <small class="errorlist booking-error"></small>
                    </div>
                </div>
                <!-- Start time input -->
                <div class="col form-field col-lg-3">
                    <label for="startTime"><i class="fas fa-clock"></i> Starting At:</label><br>
                    {{form.start_time}}
                    <div class="error-container">
                        <small class="errorlist booking-error"></small>
                    </div>
                </div>
                <!-- End time input -->
                <div class="col form-field col-lg-3">
                    <label for="endTime"><i class="fas fa-clock"></i> Until:</label><br>
                    {{form.end_time}}
                    <div class="error-container">
                        <small class="errorlist booking-error"></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-simple text-light mt-5 border border-light" data-toggle="collapse"
                data-target="#selectTable">Find a
                table</button>
            <div class="collapse p-center" id="selectTable">
                <div class="row justify-content-center col-lg-12 booking d-flex">
                    <br>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col col-8 col-lg-3">
                                <div class="d-flex justify-content-center">
                                    <!-- Heading -->
                                    <h5 class="mt-3">CHOOSE A TABLE</h5>
                                </div>
                                <!-- Legend -->
                                <div class="flex d-flex justify-content-center">
                                    <p class="mt-3 mb-3 mx-4"><i class="fas fa-square free-color"
                                            aria-hidden="true"></i> FREE</p>
                                    <p class="mt-3 mb-3"><i class="fas fa-square busy-color" aria-hidden="true"></i>
                                        BUSY</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    {% for table in tables %}
                                    <div class="col-4 p-center">
                                        <div class="table-container">
                                            {% if table.code in occupied_tables %}
                                            <img src="{{ table.table_occupied_img.url }}" class="cards"
                                                alt="Occupied Table">
                                            {% else %}
                                            <img src="{{ table.table_free_img.url }}" class="cards" alt="Free Table">
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center col-lg-12 booking d-flex mt-3">
                        <div class=" form-field col- col-md-3">
                            <!-- Table select -->
                            <label for="tableCode"><i class="fas fa-check"></i>Select a
                                table</label><br>
                            {{ form.table_code }}
                            <br>
                        </div>
                        <div class="form-field col-3 col-md-3">
                            <!-- Number of persons read-only input -->
                            <label for="tablePersons"><i class="fas fa-users"></i>Number of persons</label>
                            <input id="tablePersons" class="form-control" type="text" disabled value="2">
                        </div>
                    </div>
                </div><br>
                <div class="flex p-center" id="flexButtons">
                    <button type="button" class="btn btn-simple  text-light border border-light mx-3"
                        data-toggle="collapse" data-target="#bookingContactCollapse">Continue</button>
                    <button type="button" class="btn btn-simple restart text-light border border-light">Restart</button>
                </div><br>
            </div>
            <div class="flex f-column a-center p-center col-sm-12 col-md-6 col-lg-3 booking collapse booking"
                id="bookingContactCollapse">
                <h5 class="mb-2">CONTACT DETAILS</h5>
                <div class="form-field">
                    <!-- Name input -->
                    <label for="fullName"><i class="fas fa-user"></i> Customer Full Name:</label>
                    {{ form.customer_full_name }}

                </div>
                <div class="form-field">
                    <!-- Email input -->
                    <label for="email"><i class="fas fa-envelope"></i> Customer Email:</label>
                    {{form.customer_email }}
                    <!-- <p><b><strong>OR</strong></b></p> -->
                </div>
                <p><b><strong>OR</strong></b></p>
                <!-- Date inputCheckbox -->
                {{ form.book_on_user }}
                <label for="bookAuthenticate">Book It On My Name</label><br>

                <button type="submit" class="btn btn-simple text-light border border-light mb-3 mt-3  "
                    data-toggle="collapse" data-target="#overviewCollapse">Finish</button><br>

            </div>
            <div id=" overviewCollapse" class="flex f-column a-center p-center collapse ">
                <h5>BOOKING OVERVIEW</h5>
                <span id="bookingOverview"></span><br>
                <span>Do you want to proceed?</span><br>
                <!-- Submit button -->
                <button type="submit" class="btn form-submit">Yes</button>
                <button type="button" class="btn form-submit restart">No</button>
            </div>


        </form>
        {% else %}
        <p class="booking-text">To make a reservation, please <a href="{% url 'account_login' %}"
                class="booking-signin-up">login</a>. If you have not created an account yet, then please <a
                href="{% url 'account_signup' %}" class="booking-signin-up">sign
                up.</a></p>
        {% endif %}

    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{%endblock%}