{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- main-image -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Spice Villa</span></h1>
                <h2> A taste you will remember</h2>

                <div class="btns">
                    <a href="{% url 'home' %}#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                    <a href="" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Section -->

<!-- Menu page -->

<section id="menu" class="menu section-bg py-5">
    <div class="container">

        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="text-center fw-normal ff-secondary"> Food Menu</h2>
            <p class="text-center">Check Our Tasty Menu</p>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-starters">Starters</li>
                    <li data-filter=".filter-salads">Salads</li>
                    <li data-filter=".filter-salads">Dessert</li>
                    <li data-filter=".filter-specialty"> Our Specialty</li>
                </ul>
            </div>
        </div>

        <div class="row menu-container">

            <div class="col-lg-6 menu-item filter-starters">
                <img src="{% static 'images/menu/Hare-Bhara-kabab- Fried.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Hara bhara kabab</a><span>€5.99</span>
                </div>
                <div class="menu-ingredients">
                    Fried spinach balls with Potaoes
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starter">
                <img src="{% static 'images/menu/Starters.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Panner Tikka</a><span>€10.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starter">
                <img src="{% static 'images/menu/chili-cheese-nacho.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Chilli chesse nacho</a><span>€7.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salad">
                <img src="{% static 'images/menu/0328-ceasar-salad-lede.webp' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Ceasar salad lede</a><span>€4.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-dessert">
                <img src="{% static 'images/menu/blueberry-cheesecake.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Buleberry cheese cake</a><span>€4.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-dessert">
                <img src="{% static 'images/menu/mint-chocolate-ice-cream.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Mint chocolate ice-cream</a><span>€4.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-dessert">
                <img src="{% static 'images/menu/piles-of-pancake-with-honey.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Piles of Pancake with honey </a><span>€4.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salad">
                <img src="{% static 'images/menu/potato-salad.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Potato salad</a><span>€5.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salad">
                <img src="{% static 'images/menu/chicken-salad.webp' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Chicken salad</a><span>€6.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>
            <div class="col-lg-6 menu-item filter-specialty">
                <!-- <img src="" class="menu-img" alt="">-->
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">panner</a><span>€6.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="{% static 'images/menu/currywurst-mit-pommes.jpg' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">curry wurst</a><span>€6.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="{% static 'images/menu/chicken-tikka-masala-.jfif' %}" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#" class="text-decoration-none">Chicken tikka masala</a><span>€12.99</span>
                </div>
                <div class="menu-ingredients">

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Menu Section -->

<!-- About page -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">


                    <div class="col-6 text-start">
                        <img src="{% static 'images/about/about-img1.jfif'%}" alt="" data-wow-delay="0.1s"
                            class="img-fluid rounded w-100 wow zoomIn">
                    </div>

                    <div class="col-6 text-start">
                        <img src="{% static 'images/about/about-img2.jfif'%}" alt="" data-wow-delay="0.3s"
                            class="img-fluid rounded w-75 wow zoomIn" style="margin-top:25%">
                    </div>

                    <div class="col-6 text-end">
                        <img src="{% static 'images/about/about-img3.jfif'%}" alt="" data-wow-delay="0.5s"
                            class="img-fluid rounded w-75 wow zoomIn">
                    </div>

                    <div class="col-6 text-end">
                        <img src="{% static 'images/about/about-img4.jfif'%}" alt="" data-wow-delay="0.7s"
                            class="img-fluid rounded w-100 wow zoomIn">
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <h4 class="section-title ff-secondary text-start fw-normal text-light text-center"> About Us</h4>
                <h1 class="mb-4 text-light text-center ">Welcome to <i class="fa fa-utensils me-2"></i>Splice Villa</h1>
                <p> </p>
                <p> </p>

                <div class="row g-4 mb-4">

                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-light px-3">
                            <h1 class="flex-shrink-0 display-5 text-light mb-0" data-toggle="couter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0 text-light">Yours of</p>
                                <h6 class="text-uppercase mb-0 text-light"> Experiences</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-light px-3">
                            <h1 class="flex-shrink-0 display-5 text-light mb-0" data-toggle="couter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0 text-light">Popular</p>
                                <h6 class="text-uppercase mb-0 text-light">Marster chefs</h6>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>




    {% endblock %}