{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row content text-light col-10 col-lg-9">
    <div class="center-container">
        <h2>Welcome back , {{ user.username }}</h2>
        <small>{{ user.email }}</small><br><br>
    </div>
    <div class="flex sp-between">
        <!-- Bookings Container -->
        <div class="col-12 col-lg-6 booking-table">
            <h4 class="decorated"><span>Your upcoming bookings <i class="far fa-calendar-alt"></i></span></h4>
        </div>
    </div>

    <div>
        <ul>
            {% for data in data %}
            <li>{{data.table}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}