{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row col-10 col-lg-9 text-light booking">
    <div class="center-container">
        <h1>Book your table now <i class="fas fa-pencil-alt"></i></h1>
        <!-- Booking form -->
        <form id="bookingForm" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row justify-content-center mt-3" id="bookingDetails">
                <p class="h4">Choose the date and time for your booking and we will show you the available places</p>
                <!-- Date input -->
                <div class="col form-field col-12 col-md-4 col-lg-3 mt-2">
                    <label for="datePicker"><i class="far fa-calendar-alt"></i> Choose Date:</label><br>
                    {{form.date}}
                    <div class="error-container">
                        <small class="errorlist booking-error"></small>
                    </div>
                </div>
                <!-- Start time input -->
                <div class="col form-field col-lg-3 mt-2">
                    <label for="startTime"><i class="fas fa-clock"></i> Starting At:</label><br>
                    {{form.start_time}}
                    <div class="error-container">
                        <small class="errorlist booking-error"></small>
                    </div>
                </div>
                <!-- End time input -->
                <div class="col form-field col-lg-3 mt-2">
                    <label for="endTime"><i class="fas fa-clock"></i> Until:</label><br>
                    {{form.end_time}}
                    <div class="error-container">
                        <small class="errorlist booking-error"></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-simple continue text-light mt-5 border border-light">Find a
                table</button>
    </div>

</div>
{%endblock%}