{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row content text-light col-10 col-lg-9">
    <div class="center-container">
        <h2>Welcome back , {{ user.username }}</h2>
        <small>{{ user.email }}</small><br><br>
    </div>
    <div class="flex sp-between">
        <!-- Bookings Container -->
        <div class="col-12 col-lg-6 booking-table ">
            <h4 class="decorated"><span>Your upcoming bookings <i class="far fa-calendar-alt"></i></span></h4>

            <div class="container">
                <div class="row">
                    {% if data %}
                    {% for data in data %}
                    <div class="col-sm-4">
                        <div class="bg-card">
                            <p class="mt-3"><b>Date: </b>{{ data.date }}</p>
                            <p><b>From: </b>{{ data.start_time }} <b>To: </b>{{ data.end_time }}</p>
                            <p><b>Table: </b>{{ data.table }}</p>
                            <p><small><b>Customer: </b>{{ data.customer_full_name }}</small></p>
                        </div>
                        <div>
                            <a class="btn-light button-link mb-3" data-bs-toggle="modal"
                                data-bs-target="#deleteBookingModal{{ data.pk }}" type="button">Delete booking</a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteBookingModal{{ data.pk }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="text-dark">Are you sure you want to delete booking for {{ data.date }} ,
                                        From
                                        {{data.start_time }} To {{ data.end_time }} ?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" class="delete-booking"
                                        action="{% url 'delete_booking' pk=data.pk %}">
                                        {% csrf_token %}
                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                            value="{{ redirect_field_value }}" />
                                        {% endif %}
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-primary">yes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        <p class="No-booking"> Currently, there are no bookings. To reserve a Table Please <a class=""
                                href="{% url 'booking' %}">click here</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


</div>
<script src="{% static 'js/main.js' %}"></script>
{%endblock%}